networks:
  web:
    name: web
    driver: overlay
    attachable: true
  intercom:
    name: intercom
    driver: overlay
    attachable: true

volumes:
  order_pg_vol:
  minio_vol:

secrets:
  postgres_user:
    file: docker/postgres_user_secret
  postgres_password:
    file: docker/postgres_password_secret
  s3_user:
    file: docker/s3_user_secret
  s3_password:
    file: docker/s3_password_secret

services:

  
  # TRAEFIK (manager only)
  
  traefik:
    image: traefik:v3.6.1
    command:
      - --api.dashboard=true
      - --api.insecure=true
      - --providers.swarm.endpoint=unix:///var/run/docker.sock
      - --providers.swarm.exposedbydefault=false
      - --providers.swarm.network=web
      - --entrypoints.web.address=:80
      - --log.level=INFO
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: ingress
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - web
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - traefik.enable=true
        - traefik.http.routers.api.rule=Host(`dashboard.localhost`)
        - traefik.http.routers.api.service=api@internal
        - traefik.http.services.dummy.loadbalancer.server.port=9999


  
  # FRONTEND (GLOBAL)
  
  frontend:
    image: ghcr.io/ddibiasi/sbd-ais-exercise/frontend:1.0
    networks:
      - web
    deploy:
      mode: global
      labels:
        - traefik.enable=true
        - traefik.http.routers.frontend.rule=Host(`localhost`)
        - traefik.http.services.frontend.loadbalancer.server.port=80


  
  # ORDERSERVICE (GLOBAL)
  
  orderservice:
    image: ghcr.io/ddibiasi/sbd-ais-exercise/orderservice:1.0
    command: ["/app/ordersystem"]
    depends_on:
      - postgres
      - minio
    networks:
      - web
      - intercom
    secrets:
      - postgres_user
      - postgres_password
      - s3_user
      - s3_password
    environment:
      POSTGRES_DB: order
      PGPORT: 5555
      DB_HOST: postgres
      S3_ENDPOINT: minio:8500

      POSTGRES_USER_FILE: /run/secrets/postgres_user
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
      S3_ACCESS_KEY_ID_FILE: /run/secrets/s3_user
      S3_SECRET_ACCESS_KEY_FILE: /run/secrets/s3_password
    deploy:
      mode: global
      restart_policy:
        condition: any
        delay: 5s
        window: 120s
      labels:
        - traefik.enable=true
        - traefik.http.routers.orders.rule=Host(`orders.localhost`)
        - traefik.http.services.orders.loadbalancer.server.port=8080


  
  # POSTGRES (single node – allowed on manager)
  
  postgres:
    image: postgres:18
    volumes:
      - order_pg_vol:/var/lib/postgresql
    networks:
      - intercom
    secrets:
      - postgres_user
      - postgres_password
    environment:
      POSTGRES_DB: order
      PGPORT: 5555
      POSTGRES_USER_FILE: /run/secrets/postgres_user
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager   # moved to manager so it can run


  
  # MINIO (single node – allowed on manager)
  
  minio:
    image: minio/minio:latest
    command: [ "server", "--address", ":8500", "/data" ]
    volumes:
      - minio_vol:/data
    networks:
      - intercom
    secrets:
      - s3_user
      - s3_password
    environment:
      MINIO_ROOT_USER_FILE: /run/secrets/s3_user
      MINIO_ROOT_PASSWORD_FILE: /run/secrets/s3_password
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager   # moved to manager so it can run